.app-component-container {
  gap: var(--dl-space-space-16);
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.app-component-image {
  width: 56px;
  object-fit: cover;
}
.app-component-container1 {
  gap: var(--dl-space-space-4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.app-component-container2 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.app-component-text {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
.app-component-image1 {
  width: var(--dl-size-size-16);
  object-fit: cover;
}
.app-component-text1 {
  color: #5d5d75;
  align-self: flex-start;
  font-family: IBM Plex Mono;
}
@media(max-width: 800px) {
  .app-component-text1 {
    font-style: normal;
    font-weight: 400;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-deepdark);
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 352px;
  display: flex;
  max-width: 900px;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-64);
  padding-left: var(--dl-space-space-48);
  padding-right: var(--dl-space-space-48);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-64);
  justify-content: space-between;
}
.home-container02 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-container03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-text {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: %;
  text-transform: none;
  text-decoration: none;
}
.home-text01 {
  color: var(--dl-color-gray-subtext);
  font-size: 18px;
  max-width: 320px;
  font-style: normal;
  margin-top: var(--dl-space-space-8);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 24px;
}
.home-container04 {
  gap: var(--dl-space-space-16);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-cta {
  width: 311px;
  height: var(--dl-size-size-48);
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-16);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-16);
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(211, 235, 164) 0.00%,rgb(143, 255, 25) 100.00%);
}
.home-container05 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-system {
  width: 20px;
  object-fit: cover;
}
.home-content {
  color: var(--dl-color-gray-darktext);
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
.home-arrow {
  width: 20px;
  object-fit: cover;
}
.home-cta1 {
  width: 311px;
  height: var(--dl-size-size-48);
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-16);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-16);
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(143, 255, 25) 1.00%,rgb(211, 235, 164) 100.00%);
}
.home-container06 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-system1 {
  width: 20px;
  object-fit: cover;
}
.home-content1 {
  color: var(--dl-color-gray-darktext);
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
.home-arrow1 {
  width: 20px;
  object-fit: cover;
}
.home-cta2 {
  width: 311px;
  height: var(--dl-size-size-48);
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-16);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-16);
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(211, 235, 164) 0.00%,rgb(143, 255, 25) 100.00%);
}
.home-container07 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-system2 {
  width: 20px;
  object-fit: cover;
}
.home-content2 {
  color: var(--dl-color-gray-darktext);
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
.home-arrow2 {
  width: 20px;
  object-fit: cover;
}
.home-cta3 {
  width: 311px;
  height: var(--dl-size-size-48);
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-16);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-16);
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(143, 255, 25) 1.00%,rgb(211, 235, 164) 100.00%);
}
.home-container08 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-system3 {
  width: 20px;
  object-fit: cover;
}
.home-content3 {
  color: var(--dl-color-gray-darktext);
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
.home-arrow3 {
  width: 20px;
  object-fit: cover;
}
.home-container09 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-dark);
}
.home-container10 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 900px;
  align-items: center;
  padding-top: var(--dl-space-space-48);
  padding-left: var(--dl-space-space-32);
  padding-right: var(--dl-space-space-32);
  padding-bottom: var(--dl-space-space-48);
  justify-content: space-between;
}
.home-image {
  width: 311px;
  object-fit: cover;
}
.home-container12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-text02 {
  color: var(--dl-color-gray-white);
  font-size: 24px;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: %;
  text-transform: none;
  text-decoration: none;
}
.home-text03 {
  color: var(--dl-color-gray-subtext);
  font-size: 16px;
  max-width: 320px;
  font-style: normal;
  margin-top: var(--dl-space-space-8);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 24px;
}
.home-container13 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-deepdark);
}
.home-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 900px;
  align-items: center;
  padding-top: var(--dl-space-space-48);
  padding-left: var(--dl-space-space-32);
  padding-right: var(--dl-space-space-32);
  padding-bottom: var(--dl-space-space-48);
  justify-content: space-between;
}
.home-container15 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-text04 {
  color: var(--dl-color-gray-white);
  font-size: 24px;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: %;
  text-transform: none;
  text-decoration: none;
}
.home-text05 {
  color: var(--dl-color-gray-subtext);
  font-size: 16px;
  max-width: 320px;
  font-style: normal;
  margin-top: var(--dl-space-space-8);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 24px;
}
.home-image1 {
  width: 311px;
  object-fit: cover;
}
.home-container16 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 900px;
  align-items: center;
  padding-top: var(--dl-space-space-48);
  padding-left: var(--dl-space-space-32);
  padding-right: var(--dl-space-space-32);
  padding-bottom: var(--dl-space-space-48);
  justify-content: space-between;
}
.home-image2 {
  width: 311px;
  object-fit: cover;
}
.home-container18 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-text06 {
  color: var(--dl-color-gray-white);
  font-size: 24px;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: %;
  text-transform: none;
  text-decoration: none;
}
.home-text07 {
  color: var(--dl-color-gray-subtext);
  font-size: 16px;
  max-width: 320px;
  font-style: normal;
  margin-top: var(--dl-space-space-8);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 24px;
}
.home-container19 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-deepdark);
}
.home-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 900px;
  align-items: center;
  padding-top: var(--dl-space-space-48);
  padding-left: var(--dl-space-space-32);
  padding-right: var(--dl-space-space-32);
  padding-bottom: var(--dl-space-space-48);
  justify-content: space-between;
}
.home-container21 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-text08 {
  color: var(--dl-color-gray-white);
  font-size: 24px;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: %;
  text-transform: none;
  text-decoration: none;
}
.home-text09 {
  color: var(--dl-color-gray-subtext);
  font-size: 16px;
  max-width: 320px;
  font-style: normal;
  margin-top: var(--dl-space-space-8);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 24px;
}
.home-image3 {
  width: 311px;
  object-fit: cover;
}
.home-container22 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #5C32BA;
}
.home-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 900px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-48);
  padding-left: var(--dl-space-space-32);
  padding-right: var(--dl-space-space-32);
  padding-bottom: var(--dl-space-space-48);
  justify-content: center;
}
.home-image4 {
  width: 320px;
  align-self: center;
  object-fit: cover;
}
.home-container24 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgb(81, 178, 4) 0.00%,rgb(145, 208, 17) 100.00%);
}
.home-container25 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 900px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-48);
  padding-left: var(--dl-space-space-32);
  padding-right: var(--dl-space-space-32);
  padding-bottom: var(--dl-space-space-48);
  justify-content: flex-start;
}
.home-image5 {
  width: 56px;
  object-fit: cover;
}
.home-container26 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-20);
  flex-direction: column;
  justify-content: space-between;
}
.home-text10 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: %;
  text-transform: none;
  text-decoration: none;
}
.home-container27 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-deepdark);
}
.home-container28 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 900px;
  align-items: center;
  padding-top: var(--dl-space-space-48);
  padding-left: var(--dl-space-space-32);
  padding-right: var(--dl-space-space-32);
  padding-bottom: var(--dl-space-space-48);
  justify-content: space-between;
}
.home-image6 {
  width: 396px;
  object-fit: cover;
}
.home-container29 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-container30 {
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-bottom: var(--dl-space-space-32);
  justify-content: space-between;
}
.home-text14 {
  color: #8FFF19;
  font-size: 24px;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
.home-container31 {
  gap: var(--dl-space-space-16);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-cta4 {
  width: 311px;
  height: var(--dl-size-size-48);
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-16);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-16);
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(211, 235, 164) 0.00%,rgb(143, 255, 25) 100.00%);
}
.home-container32 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-system4 {
  width: 20px;
  object-fit: cover;
}
.home-content4 {
  color: var(--dl-color-gray-darktext);
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
.home-arrow4 {
  width: 20px;
  object-fit: cover;
}
.home-cta5 {
  width: 311px;
  height: var(--dl-size-size-48);
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-16);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-16);
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(143, 255, 25) 1.00%,rgb(211, 235, 164) 100.00%);
}
.home-container33 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-system5 {
  width: 20px;
  object-fit: cover;
}
.home-content5 {
  color: var(--dl-color-gray-darktext);
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
.home-arrow5 {
  width: 20px;
  object-fit: cover;
}
.home-cta6 {
  width: 311px;
  height: var(--dl-size-size-48);
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-16);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-16);
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(211, 235, 164) 0.00%,rgb(143, 255, 25) 100.00%);
}
.home-container34 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-system6 {
  width: 20px;
  object-fit: cover;
}
.home-content6 {
  color: var(--dl-color-gray-darktext);
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
.home-arrow6 {
  width: 20px;
  object-fit: cover;
}
.home-cta7 {
  width: 311px;
  height: var(--dl-size-size-48);
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-16);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-16);
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(143, 255, 25) 1.00%,rgb(211, 235, 164) 100.00%);
}
.home-container35 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-system7 {
  width: 20px;
  object-fit: cover;
}
.home-content7 {
  color: var(--dl-color-gray-darktext);
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
.home-arrow7 {
  width: 20px;
  object-fit: cover;
}
.home-container36 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-deepdark);
}
.home-container37 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 900px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-48);
  padding-left: var(--dl-space-space-32);
  padding-right: var(--dl-space-space-32);
  padding-bottom: var(--dl-space-space-48);
  justify-content: center;
}
.home-text15 {
  color: var(--dl-color-gray-subtext);
  font-size: 14px;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  letter-spacing: %;
  text-transform: none;
  text-decoration: none;
}
@media(max-width: 800px) {
  .home-container01 {
    height: auto;
    padding-top: var(--dl-space-space-40);
    padding-left: var(--dl-space-space-32);
    padding-right: var(--dl-space-space-32);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-64);
  }
  .home-container03 {
    margin-top: var(--dl-space-space-40);
  }
  .home-container04 {
    width: 100%;
    margin-top: var(--dl-space-space-32);
  }
  .home-cta {
    width: 100%;
    height: 44px;
    justify-content: space-between;
  }
  .home-content {
    color: var(--dl-color-gray-darktext);
  }
  .home-cta1 {
    width: 100%;
    height: 44px;
    justify-content: space-between;
  }
  .home-content1 {
    color: var(--dl-color-gray-darktext);
  }
  .home-cta2 {
    width: 100%;
    height: 44px;
    justify-content: space-between;
  }
  .home-content2 {
    color: var(--dl-color-gray-darktext);
  }
  .home-cta3 {
    width: 100%;
    height: 44px;
    justify-content: space-between;
  }
  .home-content3 {
    color: var(--dl-color-gray-darktext);
  }
  .home-container11 {
    flex-direction: column;
  }
  .home-container12 {
    margin-top: var(--dl-space-space-32);
  }
  .home-container14 {
    flex-direction: column-reverse;
  }
  .home-container15 {
    margin-top: var(--dl-space-space-32);
  }
  .home-container17 {
    flex-direction: column;
  }
  .home-container18 {
    margin-top: var(--dl-space-space-32);
  }
  .home-container20 {
    flex-direction: column-reverse;
  }
  .home-container21 {
    margin-top: var(--dl-space-space-32);
  }
  .home-container23 {
    flex-direction: column;
  }
  .home-container25 {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .home-container26 {
    margin-top: 0px;
  }
  .home-container28 {
    flex-direction: column;
  }
  .home-container29 {
    margin-top: var(--dl-space-space-48);
  }
  .home-container31 {
    width: 100%;
    margin-top: var(--dl-space-space-32);
  }
  .home-cta4 {
    width: 100%;
    height: 44px;
    justify-content: space-between;
  }
  .home-content4 {
    color: var(--dl-color-gray-darktext);
  }
  .home-cta5 {
    width: 100%;
    height: 44px;
    justify-content: space-between;
  }
  .home-content5 {
    color: var(--dl-color-gray-darktext);
  }
  .home-cta6 {
    width: 100%;
    height: 44px;
    justify-content: space-between;
  }
  .home-content6 {
    color: var(--dl-color-gray-darktext);
  }
  .home-cta7 {
    width: 100%;
    height: 44px;
    justify-content: space-between;
  }
  .home-content7 {
    color: var(--dl-color-gray-darktext);
  }
  .home-container37 {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}
