.app-component-container {
  gap: var(--dl-space-space-16);
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.app-component-image {
  width: 56px;
  object-fit: cover;
}
.app-component-container1 {
  gap: var(--dl-space-space-4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.app-component-container2 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.app-component-text {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
}
.app-component-image1 {
  width: var(--dl-size-size-16);
  object-fit: cover;
}
.app-component-text1 {
  color: #5d5d75;
  align-self: flex-start;
  font-family: IBM Plex Mono;
}
.app-component-root-class-name {
  margin-bottom: var(--dl-space-space-16);
}
@media(max-width: 800px) {
  .app-component-text1 {
    font-style: normal;
    font-weight: 400;
  }
}

.airclap-send-any-file-to-any-device-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-deepdark);
}
.airclap-send-any-file-to-any-device-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 352px;
  display: flex;
  max-width: 900px;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-64);
  padding-left: var(--dl-space-space-48);
  padding-right: var(--dl-space-space-48);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-64);
  justify-content: space-between;
}
.airclap-send-any-file-to-any-device-container02 {
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.airclap-send-any-file-to-any-device-container03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.airclap-send-any-file-to-any-device-text {
  color: var(--dl-color-gray-white);
  font-size: 36px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
  letter-spacing: %;
  text-transform: none;
  text-decoration: none;
}
.airclap-send-any-file-to-any-device-text04 {
  color: var(--dl-color-gray-subtext);
  font-size: 18px;
  max-width: 360px;
  font-style: normal;
  margin-top: var(--dl-space-space-8);
  font-family: "Inter";
  font-weight: 700;
  line-height: 24px;
}
.airclap-send-any-file-to-any-device-container04 {
  gap: var(--dl-space-space-16);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.airclap-send-any-file-to-any-device-link {
  display: contents;
}
.airclap-send-any-file-to-any-device-cta {
  width: 311px;
  cursor: pointer;
  height: var(--dl-size-size-48);
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-16);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-16);
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(211, 235, 164) 0.00%,rgb(143, 255, 25) 100.00%);
}
.airclap-send-any-file-to-any-device-cta:hover {
  background-image: linear-gradient(90deg, rgb(239, 255, 207) 0.00%,rgb(175, 255, 91) 100.00%);
}
.airclap-send-any-file-to-any-device-container05 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.airclap-send-any-file-to-any-device-system {
  width: 20px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-content {
  color: var(--dl-color-gray-darktext);
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
}
.airclap-send-any-file-to-any-device-arrow {
  width: 20px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-link1 {
  display: contents;
}
.airclap-send-any-file-to-any-device-cta1 {
  width: 311px;
  height: var(--dl-size-size-48);
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-16);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-16);
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(143, 255, 25) 1.00%,rgb(211, 235, 164) 100.00%);
}
.airclap-send-any-file-to-any-device-cta1:hover {
  background-image: linear-gradient(90deg, rgb(175, 255, 91) 0.00%,rgb(239, 255, 207) 100.00%);
}
.airclap-send-any-file-to-any-device-container06 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.airclap-send-any-file-to-any-device-system1 {
  width: 20px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-content1 {
  color: var(--dl-color-gray-darktext);
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
}
.airclap-send-any-file-to-any-device-arrow1 {
  width: 20px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-link2 {
  display: contents;
}
.airclap-send-any-file-to-any-device-cta2 {
  width: 311px;
  height: var(--dl-size-size-48);
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-16);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-16);
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(211, 235, 164) 0.00%,rgb(143, 255, 25) 100.00%);
}
.airclap-send-any-file-to-any-device-cta2:hover {
  background-image: linear-gradient(90deg, rgb(239, 255, 207) 0.00%,rgb(175, 255, 91) 100.00%);
}
.airclap-send-any-file-to-any-device-container07 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.airclap-send-any-file-to-any-device-system2 {
  width: 20px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-content2 {
  color: var(--dl-color-gray-darktext);
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
}
.airclap-send-any-file-to-any-device-arrow2 {
  width: 20px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-link3 {
  display: contents;
}
.airclap-send-any-file-to-any-device-cta3 {
  width: 311px;
  height: var(--dl-size-size-48);
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-16);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-16);
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(143, 255, 25) 1.00%,rgb(211, 235, 164) 100.00%);
}
.airclap-send-any-file-to-any-device-cta3:hover {
  background-image: linear-gradient(90deg, rgb(175, 255, 91) 0.00%,rgb(239, 255, 207) 100.00%);
}
.airclap-send-any-file-to-any-device-container08 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.airclap-send-any-file-to-any-device-system3 {
  width: 20px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-content3 {
  color: var(--dl-color-gray-darktext);
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
}
.airclap-send-any-file-to-any-device-arrow3 {
  width: 20px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-container09 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-dark);
}
.airclap-send-any-file-to-any-device-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.airclap-send-any-file-to-any-device-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 900px;
  align-items: center;
  padding-top: var(--dl-space-space-48);
  padding-left: var(--dl-space-space-32);
  padding-right: var(--dl-space-space-32);
  padding-bottom: var(--dl-space-space-48);
  justify-content: space-between;
}
.airclap-send-any-file-to-any-device-image {
  width: 311px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-container12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.airclap-send-any-file-to-any-device-text05 {
  color: var(--dl-color-gray-white);
  font-size: 24px;
  max-width: 400px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
  letter-spacing: %;
  text-transform: none;
  text-decoration: none;
}
.airclap-send-any-file-to-any-device-text06 {
  color: var(--dl-color-gray-subtext);
  font-size: 16px;
  max-width: 400px;
  font-style: normal;
  margin-top: var(--dl-space-space-8);
  font-family: "Inter";
  font-weight: 700;
  line-height: 24px;
}
.airclap-send-any-file-to-any-device-container13 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-deepdark);
}
.airclap-send-any-file-to-any-device-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 900px;
  align-items: center;
  padding-top: var(--dl-space-space-48);
  padding-left: var(--dl-space-space-32);
  padding-right: var(--dl-space-space-32);
  padding-bottom: var(--dl-space-space-48);
  justify-content: space-between;
}
.airclap-send-any-file-to-any-device-container15 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.airclap-send-any-file-to-any-device-text07 {
  color: var(--dl-color-gray-white);
  font-size: 24px;
  max-width: 400px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
  letter-spacing: %;
  text-transform: none;
  text-decoration: none;
}
.airclap-send-any-file-to-any-device-text08 {
  color: var(--dl-color-gray-subtext);
  font-size: 16px;
  max-width: 400px;
  font-style: normal;
  margin-top: var(--dl-space-space-8);
  font-family: "Inter";
  font-weight: 700;
  line-height: 24px;
}
.airclap-send-any-file-to-any-device-image1 {
  width: 311px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-container16 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.airclap-send-any-file-to-any-device-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 900px;
  align-items: center;
  padding-top: var(--dl-space-space-48);
  padding-left: var(--dl-space-space-32);
  padding-right: var(--dl-space-space-32);
  padding-bottom: var(--dl-space-space-48);
  justify-content: space-between;
}
.airclap-send-any-file-to-any-device-image2 {
  width: 311px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-container18 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.airclap-send-any-file-to-any-device-text09 {
  color: var(--dl-color-gray-white);
  font-size: 24px;
  max-width: 400px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
  letter-spacing: %;
  text-transform: none;
  text-decoration: none;
}
.airclap-send-any-file-to-any-device-text10 {
  color: var(--dl-color-gray-subtext);
  font-size: 16px;
  max-width: 400px;
  font-style: normal;
  margin-top: var(--dl-space-space-8);
  font-family: "Inter";
  font-weight: 700;
  line-height: 24px;
}
.airclap-send-any-file-to-any-device-container19 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-deepdark);
}
.airclap-send-any-file-to-any-device-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 900px;
  align-items: center;
  padding-top: var(--dl-space-space-48);
  padding-left: var(--dl-space-space-32);
  padding-right: var(--dl-space-space-32);
  padding-bottom: var(--dl-space-space-48);
  justify-content: space-between;
}
.airclap-send-any-file-to-any-device-container21 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.airclap-send-any-file-to-any-device-text11 {
  color: var(--dl-color-gray-white);
  font-size: 24px;
  max-width: 400px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
  letter-spacing: %;
  text-transform: none;
  text-decoration: none;
}
.airclap-send-any-file-to-any-device-text12 {
  color: var(--dl-color-gray-subtext);
  font-size: 16px;
  max-width: 400px;
  font-style: normal;
  margin-top: var(--dl-space-space-8);
  font-family: "Inter";
  font-weight: 700;
  line-height: 24px;
}
.airclap-send-any-file-to-any-device-image3 {
  width: 311px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-container22 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #5C32BA;
}
.airclap-send-any-file-to-any-device-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 900px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-48);
  padding-left: var(--dl-space-space-32);
  padding-right: var(--dl-space-space-32);
  padding-bottom: var(--dl-space-space-48);
  justify-content: center;
}
.airclap-send-any-file-to-any-device-image4 {
  width: 320px;
  align-self: center;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-container24 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgb(81, 178, 4) 0.00%,rgb(145, 208, 17) 100.00%);
}
.airclap-send-any-file-to-any-device-container25 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 900px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-48);
  padding-left: var(--dl-space-space-32);
  padding-right: var(--dl-space-space-32);
  padding-bottom: var(--dl-space-space-48);
  justify-content: flex-start;
}
.airclap-send-any-file-to-any-device-image5 {
  width: 56px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-container26 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-20);
  flex-direction: column;
  justify-content: space-between;
}
.airclap-send-any-file-to-any-device-text13 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
  line-height: 28px;
  letter-spacing: %;
  text-transform: none;
  text-decoration: none;
}
.airclap-send-any-file-to-any-device-container27 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-deepdark);
}
.airclap-send-any-file-to-any-device-container28 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 900px;
  align-items: center;
  padding-top: var(--dl-space-space-48);
  padding-left: var(--dl-space-space-32);
  padding-right: var(--dl-space-space-32);
  padding-bottom: var(--dl-space-space-48);
  justify-content: space-between;
}
.airclap-send-any-file-to-any-device-image6 {
  width: 396px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-container29 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.airclap-send-any-file-to-any-device-container30 {
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-bottom: var(--dl-space-space-32);
  justify-content: space-between;
}
.airclap-send-any-file-to-any-device-container31 {
  gap: var(--dl-space-space-16);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.airclap-send-any-file-to-any-device-link4 {
  display: contents;
}
.airclap-send-any-file-to-any-device-cta4 {
  width: 311px;
  cursor: pointer;
  height: var(--dl-size-size-48);
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-16);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-16);
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(211, 235, 164) 0.00%,rgb(143, 255, 25) 100.00%);
}
.airclap-send-any-file-to-any-device-cta4:hover {
  background-image: linear-gradient(90deg, rgb(239, 255, 207) 0.00%,rgb(175, 255, 91) 100.00%);
}
.airclap-send-any-file-to-any-device-container32 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.airclap-send-any-file-to-any-device-system4 {
  width: 20px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-content4 {
  color: var(--dl-color-gray-darktext);
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
}
.airclap-send-any-file-to-any-device-arrow4 {
  width: 20px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-link5 {
  display: contents;
}
.airclap-send-any-file-to-any-device-cta5 {
  width: 311px;
  height: var(--dl-size-size-48);
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-16);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-16);
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(143, 255, 25) 1.00%,rgb(211, 235, 164) 100.00%);
}
.airclap-send-any-file-to-any-device-cta5:hover {
  background-image: linear-gradient(90deg, rgb(175, 255, 91) 0.00%,rgb(239, 255, 207) 100.00%);
}
.airclap-send-any-file-to-any-device-container33 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.airclap-send-any-file-to-any-device-system5 {
  width: 20px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-content5 {
  color: var(--dl-color-gray-darktext);
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
}
.airclap-send-any-file-to-any-device-arrow5 {
  width: 20px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-link6 {
  display: contents;
}
.airclap-send-any-file-to-any-device-cta6 {
  width: 311px;
  height: var(--dl-size-size-48);
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-16);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-16);
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(211, 235, 164) 0.00%,rgb(143, 255, 25) 100.00%);
}
.airclap-send-any-file-to-any-device-cta6:hover {
  background-image: linear-gradient(90deg, rgb(239, 255, 207) 0.00%,rgb(175, 255, 91) 100.00%);
}
.airclap-send-any-file-to-any-device-container34 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.airclap-send-any-file-to-any-device-system6 {
  width: 20px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-content6 {
  color: var(--dl-color-gray-darktext);
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
}
.airclap-send-any-file-to-any-device-arrow6 {
  width: 20px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-link7 {
  display: contents;
}
.airclap-send-any-file-to-any-device-cta7 {
  width: 311px;
  height: var(--dl-size-size-48);
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-16);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-16);
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(143, 255, 25) 1.00%,rgb(211, 235, 164) 100.00%);
}
.airclap-send-any-file-to-any-device-cta7:hover {
  background-image: linear-gradient(90deg, rgb(175, 255, 91) 0.00%,rgb(239, 255, 207) 100.00%);
}
.airclap-send-any-file-to-any-device-container35 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.airclap-send-any-file-to-any-device-system7 {
  width: 20px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-content7 {
  color: var(--dl-color-gray-darktext);
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
}
.airclap-send-any-file-to-any-device-arrow7 {
  width: 20px;
  object-fit: cover;
}
.airclap-send-any-file-to-any-device-container36 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-deepdark);
}
.airclap-send-any-file-to-any-device-container37 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 900px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-48);
  padding-left: var(--dl-space-space-32);
  padding-right: var(--dl-space-space-32);
  padding-bottom: var(--dl-space-space-48);
  justify-content: center;
}
.airclap-send-any-file-to-any-device-text17 {
  color: var(--dl-color-gray-subtext);
  font-size: 14px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: %;
  text-transform: none;
  text-decoration: none;
}
@media(max-width: 800px) {
  .airclap-send-any-file-to-any-device-container01 {
    height: auto;
    max-width: 100%;
    padding-top: var(--dl-space-space-40);
    padding-left: var(--dl-space-space-32);
    padding-right: var(--dl-space-space-32);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-64);
  }
  .airclap-send-any-file-to-any-device-container02 {
    width: 100%;
  }
  .airclap-send-any-file-to-any-device-container03 {
    max-width: 100%;
    margin-top: var(--dl-space-space-40);
  }
  .airclap-send-any-file-to-any-device-text04 {
    max-width: auto;
  }
  .airclap-send-any-file-to-any-device-container04 {
    width: 100%;
    margin-top: var(--dl-space-space-32);
  }
  .airclap-send-any-file-to-any-device-cta {
    width: 100%;
    height: 44px;
    justify-content: space-between;
  }
  .airclap-send-any-file-to-any-device-content {
    color: var(--dl-color-gray-darktext);
  }
  .airclap-send-any-file-to-any-device-cta1 {
    width: 100%;
    height: 44px;
    justify-content: space-between;
  }
  .airclap-send-any-file-to-any-device-content1 {
    color: var(--dl-color-gray-darktext);
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
  }
  .airclap-send-any-file-to-any-device-cta2 {
    width: 100%;
    height: 44px;
    justify-content: space-between;
  }
  .airclap-send-any-file-to-any-device-content2 {
    color: var(--dl-color-gray-darktext);
  }
  .airclap-send-any-file-to-any-device-cta3 {
    width: 100%;
    height: 44px;
    justify-content: space-between;
  }
  .airclap-send-any-file-to-any-device-content3 {
    color: var(--dl-color-gray-darktext);
  }
  .airclap-send-any-file-to-any-device-container09 {
    max-width: 100%;
  }
  .airclap-send-any-file-to-any-device-container10 {
    width: 100%;
  }
  .airclap-send-any-file-to-any-device-container11 {
    max-width: 100%;
    flex-direction: column;
  }
  .airclap-send-any-file-to-any-device-image {
    width: auto;
    max-width: 80%;
  }
  .airclap-send-any-file-to-any-device-container12 {
    max-width: 100%;
    margin-top: var(--dl-space-space-32);
  }
  .airclap-send-any-file-to-any-device-text05 {
    max-width: auto;
  }
  .airclap-send-any-file-to-any-device-text06 {
    width: auto;
    max-width: auto;
    align-self: flex-start;
  }
  .airclap-send-any-file-to-any-device-container14 {
    max-width: 100%;
    flex-direction: column-reverse;
  }
  .airclap-send-any-file-to-any-device-container15 {
    max-width: 100%;
    margin-top: var(--dl-space-space-32);
  }
  .airclap-send-any-file-to-any-device-text07 {
    max-width: auto;
  }
  .airclap-send-any-file-to-any-device-text08 {
    max-width: auto;
  }
  .airclap-send-any-file-to-any-device-image1 {
    width: auto;
    max-width: 80%;
  }
  .airclap-send-any-file-to-any-device-container17 {
    flex-direction: column;
  }
  .airclap-send-any-file-to-any-device-image2 {
    width: auto;
    max-width: 80%;
  }
  .airclap-send-any-file-to-any-device-container18 {
    max-width: 100%;
    margin-top: var(--dl-space-space-32);
  }
  .airclap-send-any-file-to-any-device-container20 {
    max-width: 100%;
    flex-direction: column-reverse;
  }
  .airclap-send-any-file-to-any-device-container21 {
    max-width: 100%;
    margin-top: var(--dl-space-space-32);
  }
  .airclap-send-any-file-to-any-device-text11 {
    max-width: auto;
  }
  .airclap-send-any-file-to-any-device-text12 {
    max-width: auto;
  }
  .airclap-send-any-file-to-any-device-image3 {
    width: auto;
    max-width: 80%;
  }
  .airclap-send-any-file-to-any-device-container23 {
    max-width: 100%;
    flex-direction: column;
  }
  .airclap-send-any-file-to-any-device-image4 {
    width: 100%;
    max-width: 80%;
  }
  .airclap-send-any-file-to-any-device-container25 {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .airclap-send-any-file-to-any-device-container26 {
    margin-top: 0px;
  }
  .airclap-send-any-file-to-any-device-text13 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: none;
    text-decoration: none;
  }
  .airclap-send-any-file-to-any-device-container28 {
    max-width: 100%;
    padding-left: var(--dl-space-space-24);
    padding-right: var(--dl-space-space-24);
    flex-direction: column;
  }
  .airclap-send-any-file-to-any-device-image6 {
    width: 100%;
    max-width: 100%;
  }
  .airclap-send-any-file-to-any-device-container29 {
    width: 100%;
    max-width: 100%;
    margin-top: var(--dl-space-space-48);
  }
  .airclap-send-any-file-to-any-device-container30 {
    max-width: 100%;
  }
  .airclap-send-any-file-to-any-device-container31 {
    width: 100%;
    margin-top: var(--dl-space-space-32);
  }
  .airclap-send-any-file-to-any-device-cta4 {
    width: 100%;
    height: 44px;
    justify-content: space-between;
  }
  .airclap-send-any-file-to-any-device-content4 {
    color: var(--dl-color-gray-darktext);
  }
  .airclap-send-any-file-to-any-device-cta5 {
    width: 100%;
    height: 44px;
    justify-content: space-between;
  }
  .airclap-send-any-file-to-any-device-content5 {
    color: var(--dl-color-gray-darktext);
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
  }
  .airclap-send-any-file-to-any-device-cta6 {
    width: 100%;
    height: 44px;
    justify-content: space-between;
  }
  .airclap-send-any-file-to-any-device-content6 {
    color: var(--dl-color-gray-darktext);
  }
  .airclap-send-any-file-to-any-device-cta7 {
    width: 100%;
    height: 44px;
    justify-content: space-between;
  }
  .airclap-send-any-file-to-any-device-content7 {
    color: var(--dl-color-gray-darktext);
  }
  .airclap-send-any-file-to-any-device-container37 {
    max-width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}
