.app-component-container {
  gap: var(--dl-space-space-16);
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.app-component-image {
  width: 56px;
  object-fit: cover;
}
.app-component-container1 {
  gap: var(--dl-space-space-4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.app-component-container2 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.app-component-text {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
}
.app-component-image1 {
  width: var(--dl-size-size-16);
  object-fit: cover;
}
.app-component-text1 {
  color: #5d5d75;
  align-self: flex-start;
  font-family: IBM Plex Mono;
}
@media(max-width: 800px) {
  .app-component-text1 {
    font-style: normal;
    font-weight: 400;
  }
}
