<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <img
      src="https://s1.imagehub.cc/images/2023/06/14/appicon3x-yasuo.png"
      class="component-image"
    />
    <div class="component-container1">
      <div class="component-container2">
        <span class="component-text"><span>隔空快传</span></span>
        <img
          src="https://s1.imagehub.cc/images/2023/06/14/star3x-yasuo.png"
          class="component-image1"
        />
      </div>
      <span class="component-text1"><span>airclap.cn</span></span>
    </div>
  </div>
</div>
