.logo-group-container {
  gap: var(--dl-space-space-16);
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.logo-group-image {
  width: 56px;
  object-fit: cover;
}
.logo-group-container1 {
  gap: var(--dl-space-space-4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.logo-group-container2 {
  gap: var(--dl-space-space-4);
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.logo-group-text {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-family: "-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif";
  font-weight: 700;
}
.logo-group-image1 {
  width: var(--dl-size-size-16);
  object-fit: cover;
}
.logo-group-text1 {
  color: #5d5d75;
  align-self: flex-start;
  font-family: "-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif";
}
.logo-group-root-class-name {
  margin-bottom: var(--dl-space-space-32);
}
@media(max-width: 800px) {
  .logo-group-text1 {
    font-style: normal;
    font-weight: 400;
  }
}
